/* common styles */
.text-bold {
    font-weight: bold;   
    font-size:   18px;
    line-height: 24px;
}

.text-normal {
    font-size: 16px;
    line-height: 20px;
}

._clearfix {
    content:'';
    clear:both;
    display:table;   
}

.clearfix:after {
    ._clearfix;
}

.row {
    &:after {
        ._clearfix;
    }
}

.column {float: left;}

.column-1-3 {width: 33%;}
.column-2-3 {width: 66%;}
.column-3-3 {width: 100%;}
/* specific styles */
.wrapper {
    min-width: 900px;
    max-width: 1000px;
    margin: 0 auto;
}

header.header {
    height: 11px;
    padding: 22px 0;
    ul {
        list-style: none;
        width: 100%;
        li {
            display: inline-block;
            float: left;
            width: 20%;
        }
    }
}

.hero {
    height: 510px;
    text-align: center;
}

.about-sedona {
    height: 210px;
    
    > * {
        margin: 0 auto;
        width: 550px;
    }
    
    .text-bold   {margin-top: 60px;}
    .text-normal {margin-top: 40px;}
}

.feature {
    .feature-img, .feature-explained {
        height: 255px;
    }
}

.interested {
    height: 765px;
    h2 {
        height: 11px;
        padding: 22px 0;
    }
    .search {
        width:  570px;
        height: 480px;
        position: relative;
        margin: 0 auto;
        bottom: -100px;
    }
}

footer.footer {
    height: 16px;
    padding: 52px 0;

    text-align: center;
    
    a {
        display: inline-block;
        text-decoration: none;
        background-color: #e3e;
        height: 20px;   
        width: 20px;
        vertical-align: middle;
        display: inline-block;
    }
}